@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0d0d;
  --accent: #ff5e57;
  --text: #fafafa;
  --button: #3498db;
  --border: #2f2f2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --accent: #ff5e57;
    --text: #fafafa;
    --button: #3498db;
    --border: #2f2f2f;
  }
}

body {
  font-family: "quicksandBold", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "quicksandBold";
  src: url("/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "quicksandLight";
  src: url("/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "quicksandSemibold";
  src: url("/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "quicksandMedium";
  src: url("/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "quicksand";
  src: url("/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
